<!-- _header.ejs -->
<header>
<nav>
  <div class="navbar">

    <div class="logo" id="logo">
      <img src="/images/dragon_eye.png">
    </div>

    <div class="middle" id="nameAndSlogan">
      <h1>PasswordKeepR</h1>
      <h2>Taming the Beast of Forgetfulness</h2>
    </div>

    <%if (user_email) { %>
      <div class="navbar-right">
        <div class = "navbar-welcomeA">
        <h1><%= organization_name%></h1>
        </div>
        <div class = "navbar-welcomeB">
        <h2>Welcome: <%= user_name%></h2>
        </div>
        <div class = "navbar-right-buttons">
          <form action="/users" method="GET">
            <button type="submit" class="new-user-btn">Create a New User</button>
          </form>
          <form action="/logout" method="POST">
            <button type="submit" class="logout_btn">Logout</button>
          </form>
          </div>
      </div>

    <% } %>

  </div>
</nav>
</header>

