<!-- _header.ejs -->
<header>
<nav>
  <div class="navbar">
    <div class="navbar-left">
      <h1>PasswordKeepR</h1>
      <h2>Taming the Beast of Forgetfulness</h2>
    </div>
    <div class="middle">
      <img src="/images/dragon_eye.png">
    </div>
    <%if (user_email) { %>
      <div class="navbar-right">
        <h1><%= organizations.name%></h1>
        <h2>Welcome: <%= users.name %></h2>
          <div class="new_user">
            <a href="/users">Create a New User</a>
          </div>
          <form action="/logout" method="POST">
            <button type="submit" class="logout_btn">Logout</button>
          </form>
      </div>
      <!-- <%} else if (!user_email) { %>
        <div class="navbar-right">
          <a class="nav-item nav-link" href="/login">Login</a>
        </div>
      <% } %> -->
  </div>
</nav>
</header>

