<!-- index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <title>PasswordKeepR</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <!-- Font Awesome Link -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica+SC&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica:ital@0;1&display=swap" rel="stylesheet">


</head>

<body>
  <%- include('partials/_header') %>

  <h1>Accounts</h1>
  <a class="newAccountButton" href="/new-account">Add New Account</a>

  <!-- Add select dropdown for sorting -->
  <label for="category">Sort By:</label>
  <select id="category" name="category">
    
    <!-- Categories will be dynamically populated here -->

  </select>

  <table>
    <thead>
      <tr>
        <th>Website</th>
        <th>Username</th>
        <th>Password</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody id="accounts-body">
      <!-- Accounts will be dynamically populated here -->
    </tbody>
  </table>

  <!-- SCRIPTS -->
  <script src="/scripts/categoryDropdown.js"></script>
  <script src="/scripts/listeners.js"></script>
</body>

</html>
