<!DOCTYPE html>
<html lang="en">
<head>
  <title>Add Account</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/login.js"></script>
</head>
<body>
<%- include('partials/_header') %>

  
    <main class="container">
      <h1>Add New Account</h1>
      <section>
        <form action="/accounts" method="POST">
          <div>
            <label for="website">Website:</label>
            <input type="url" id="website" name="website" required>
          </div>
          <div>
            <label for="category">Category:</label>
            <select id="category" name="category" required>
              <option value="">Select a category...</option>
              <!--Select Category-->
            </select>
          </div>
          <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
          </div>
          <div>
            <label for="password">Password:</label>
            <input type="text" id="password" name="password" required>
          </div>
          <button type="submit">Add Account</button>
        </form>
        <div>
          <form id = "passwordForm">
            <label for="length">Password Length:</label>
            <input type="number" id="length" name="length" min="8" max="32" required><br><br>

            <label for="lowercase">Include Lowercase Letters:</label>   
            <input type="checkbox" id="lowercase" name="lowercase" checked><br>

            <label for="uppercase">Include Uppercase Letters:</label>
            <input type="checkbox" id="uppercase" name="uppercase" checked><br>

            <label for="numbers">Include Numbers:</label>
            <input type="checkbox" id="numbers" name="numbers" checked><br>

            <label for="symbols">Include Symbols:</label>
            <input type="checkbox" id="symbols" name="symbols" checked><br><br>
            
            <button id = "generate-password" type="submit">Generate Password</button>
            <button id = "copy-password" class="copyButton" type="submit">Copy Password</button>
            
            <label for="passwordOutput">Generated Password:</label>
            <textarea id="passwordOutput"></textarea>
          </form>
        </div>
      </section>
    </main>
  </body>
</html>