<!DOCTYPE html>
<html lang="en">
<head>
  <title>Edit Account</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <!-- Font Awesome Link -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica+SC&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica:ital@0;1&display=swap" rel="stylesheet">

</head>
<body>
  <%- include('partials/_header') %>

  <main class="container">
      <h1>Edit Account</h1>
      <section>
          <form method="POST" action="/update-account/<%= id %>">
              <div>
                  <label for="website">Website:</label>
                  <input type="url" id="website" name="website" value="<%= website %>" readonly>
              </div>
              <div>
                  <label for="username">Username:</label>
                  <input type="text" id="username" name="username" value="<%= username %>" readonly>
              </div>
              <div>
                  <label for="password">Password:</label>
                  <input type="password" id="password" name="password" required>
              </div>
              <button type="submit">Update Account</button>
          </form>

          <div id="passwordContainer">
            <div id="generatePasswordHeader">Generate Password</div>
            <form id="passwordForm" style="display: none;">
              <label for="length">Password Length:</label>
              <input type="number" id="length" name="length" min="8" max="32" required><br><br>

              <label for="lowercase">Include Lowercase Letters:</label>
              <input type="checkbox" id="lowercase" name="lowercase" checked><br>

              <label for="uppercase">Include Uppercase Letters:</label>
              <input type="checkbox" id="uppercase" name="uppercase" checked><br>

              <label for="numbers">Include Numbers:</label>
              <input type="checkbox" id="numbers" name="numbers" checked><br>

              <label for="symbols">Include Symbols:</label>
              <input type="checkbox" id="symbols" name="symbols" checked><br><br>

              <button id="generate-password" type="submit">Generate</button>

              <div id="passwordOutput"><span id="generatedPassword"></span></div>
              <button id="copy-password" class="copyButton" type="button">Copy Password</button>

            </form>
          </div>
        </section>
    </main>
    <!-- SCRIPTS -->
    <script src="/scripts/passwordGenerator.js"></script>
    <script src="/scripts/app.js"></script>
    <script src="/scripts/listeners.js"></script>
</body>
</html>
