<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PasswordFindR - Add New User</title>
</head>
<body>

<%- include('partials/header') %>

  <h1>Enter New User Information</h1>

  <form action="/create-user" method="post">
    <div>
      <label for="email">Email:</label>
      <input type="text" id="email" name="email" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="text" id="password" name="password" required>
    </div>
    <div>
      <label for="name">Name:</label>
      <input type="name" id="name" name="name" required>
    </div>
    <button type="submit">Add User</button>

</body>
</html>
