//NAVBAR

.navbar {
  display: flex;
  align-items: center;
  height: 18%;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  font-family: "IM Fell DW Pica SC", serif;
}

.middle {
  margin-left: 60px;
  margin-right: 80px;
  flex-grow: 1;
  color: white;
}

.middle h1 {
  font-size: 2.3em;
  font-weight: bold;
}

.middle h2 {
  margin-left: 40px;
  font-style: italic;
  font-size: 1.2em;
}

.logo {
  height: 100%;
}

.logo img {
  max-height: 100%;
  max-width: 100%;
}

.navbar-right {
  display: flex;
  color: white;
}

.navbar-welcomeA,
.navbar-welcomeB,
.navbar-right-buttons {
  margin-right: 20px;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  align-self: center;
}

.navbar-welcomeB {
  font-style: italic;
  font-size: 1em;
}

.navbar-right-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
}

// BODY

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    227deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(10, 10, 10, 1) 20%,
    rgba(20, 20, 20, 1) 34%,
    rgba(5, 5, 5, 1) 59%,
    rgba(0, 0, 0, 1) 74%,
    rgba(0, 0, 0, 1) 100%
  );

  font-family: 'IM Fell DW Pica', serif;
  padding-top: 5%;
}

table {
  border-collapse: separate;
  border-spacing: 0 10px;
}

.loginContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginContainer h1 {
  color: gold;
}

.loginContainer section {
  width: 10%;
}

#login {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.5em;
}

#newAccountContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newAccount{
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1.2em;
  margin-bottom: 1.2em;
  margin-left: 13%;
}

#passwordContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.2em;
}

#generatePasswordHeader{
  color: rgb(247, 179, 8);
  font-style: italic;
  font-weight: bold;
  font-size: 1.5em;
}

// BUTTONS

button {
  cursor: pointer;
}

.loginButton {
  background-color: #02741B;
  color: #FFFFFF;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.editButton {
  background-color: #02741B;
  color: #FFFFFF;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  margin-left: 10px;
}

.editButton:hover {
  background-color: #025A15;
}

#copy-password{
  color: goldenrod;
  font-style: italic;
}

.copyButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.copyButton i {
  color: #02741B;
  margin-left: 5px;
}

.copyButton:hover i {
  color: #025A15;
}

.newAccountButton {
  background-color: #02741B;
  color: #FFFFFF;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: 5px;
}

.addAccountButton{
  background-color: #02741B;
  color: #FFFFFF;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  margin-right: 18%;
}

#generate-password{
  background-color: #02741B;
  color: #FFFFFF;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.logo, #nameAndSlogan {
  cursor: pointer;
}

.copyToClipboardButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.copyToClipboardButton i {
  color: #02741B;
  margin-left: 5px;
}

.copyToClipboardButton:hover i {
  color: #025A15;
}

@keyframes copyAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
